[Unit]
Description=Superdesk
After=elasticsearch.service mongod.service redis-server.service

[Service]
Environment=C_FORCE_ROOT=1
ExecStart=/usr/bin/daemon --name superdesk --pidfiles /var/run /bin/bash -c "source /opt/superdesk-env/bin/activate && honcho -d /opt start"
Type=notify

[Install]
WantedBy=multi-user.target
